h1{
    text-align: center;
}

table{
    margin: auto;
    font-size: 4em;

}

td:nth-of-type(2){
    border-left: 2px  solid green;
    border-right: 2px  solid green;

}

.keski td{
    border-bottom: 2px  solid green;
    border-top: 2px  solid green;
}