img{
    width: 30%;
    float: left;
    margin: 1.66%;
}

p{  
    width: 30%;
    font-family: 'Raleway', sans-serif;
    margin-left: 1.66%;
    padding-bottom: 8px;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid darkred;
}


